#page-header #nav {
    /* 以下代表透明度为0.5 */
    background: transparent!important;
}


/*以下是封面图透明*/

#page-header.full_page::before {
    background-color: transparent!important;
}


/*文章页背景*/


/*分类页面*/


/*时间轴页面*/

[data-theme=dark] .layout>#post,
[data-theme=dark] .layout #page,
[data-theme=dark] .layout #archive,
[data-theme=dark] .layout>#category {
    /* 以下代表透明度为0.5 可以自行修改*/
    background: rgba(0, 0, 0, 0.9);
}


/*侧边栏页面*/

[data-theme=dark] #aside-content .sticky_layout .card-widget,
[data-theme=dark] #aside-content .card-widget {
    background: rgba(0, 0, 0, 0.9);
}


/* 所有页面背景 */

[data-theme=dark] #recent-posts>.recent-post-item,
[data-theme=dark] .read-mode .layout_post>#post {
    /* 以下代表透明度为0.5 */
    background: rgba(0, 0, 0, 0.9);
}